{% extends "base.html" %}
{% block main_content %}
    <div class="wrap-content">
        <div class="movie">
            <div class="row type">
                <!-- 将旧的标题替换为iOS风格的标题 -->
                <h2 class="ios-title">
                    <i class="fas fa-cloud"></i>
                    词云分析
                </h2>
            </div>
            <div class="row">
                {% load static %}
                <div class="iframe-container">
                <iframe src="{% static wordcloud_file %}" width="800" height="600" scrolling="no" style="background-color: white;text-align: left;"></iframe>
                </div>
            </div>
        </div>
    </div>

<style>
   .iframe-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
   }
</style>

{% endblock %}

